#bar_s{
    font-size: 300%;
    margin-bottom: 15px;
}

.popular-category:hover #bar_s,
.popular-category:active #bar_s{
    color: white;
}

footer .line{
    padding-top: 20px;
    background-color: #333333;
    display: flex;
}

footer .line .col{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .line .col p{
    color: white;
}

footer .line .col .wrap{
    display: flex;
}

footer .line .col .wrap .wrap_text{
    flex:1;
    margin-right: 20px;
}

footer .line .col .wrap .icon{
    flex:1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

footer .line .col .wrap .icon .wrap_icon{
    margin-right: 20px;
}

footer .line .col .wrap .icon .wrap_icon #facebook{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1877f2;
    color: white;
    border-radius: 100%;
}

footer .line .col .wrap .icon .wrap_icon #twitter{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1da1f2;
    color: white;

}

footer .line .col .wrap .icon .wrap_icon #instagram{
    width:30px; 
    height:30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: white;
    border-radius: 20%;
}

footer .line_s{
    padding-top: 20px;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .line_s .col_s{
    width: 50%;
}

footer .line_s .col_s #copyright{
    text-align: center;
    padding-top: 10px;
    color:rgb(215, 246, 250);
    border-top: rgb(215, 246, 250) solid 1px;
}

@media screen and (min-width:718px){
    footer .line{
        padding-top: 20px;
        background-color: #333333;
        display: flex;
    }
    
    footer .line .col{
        flex:1;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    footer .line .col p{
        color: white;
    }
    
    footer .line .col .wrap{
        display: flex;
    }
    
    footer .line .col .wrap .wrap_text{
        flex:1;
        margin-right: 20px;
    }
    
    footer .line .col .wrap .icon{
        flex:1;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
    
    footer .line .col .wrap .icon .wrap_icon{
        margin-right: 20px;
    }
    
    footer .line .col .wrap .icon .wrap_icon #facebook{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #1877f2;
        color: white;
        border-radius: 100%;
    }
    
    footer .line .col .wrap .icon .wrap_icon #twitter{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #1da1f2;
        color: white;
    
    }
    
    footer .line .col .wrap .icon .wrap_icon #instagram{
        width:30px; 
        height:30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: #f09433;
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
        color: white;
        border-radius: 20%;
    }
    
    footer .line_s{
        padding-top: 20px;
        background-color: #333333;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    footer .line_s .col_s{
        width: 50%;
    }
    
    footer .line_s .col_s #copyright{
        text-align: center;
        padding-top: 10px;
        color:rgb(215, 246, 250);
        border-top: rgb(215, 246, 250) solid 1px;
    }
}

@media screen and (max-width:717px) and (min-width:320px){
    footer .line{
        padding-top: 20px;
        background-color: #333333;
        display: flex;
        flex-direction: column;
    }

    footer .line_s{
        padding-top: 20px;
        background-color: #333333;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    footer .line_s .col_s{
        width: 100%;
    }
    
    footer .line_s .col_s #copyright{
        text-align: center;
        padding-top: 10px;
        color:rgb(215, 246, 250);
        border-top: rgb(215, 246, 250) solid 1px;
        padding-left: 5px;
        padding-right: 5px;
    }

}





